.quickView {
  position: fixed;
  z-index: 6;
  background-color: #111;
  border-radius: 10px;
  height: calc(100vh - 50px);
  top: 50px;
  margin: 0 1%;
  overflow-y: scroll;
  display: none;

  &.open {
    display: block;
    width: -webkit-fill-available;
  }

  &__banner {
    padding-top: 50vh;
    height: 50vh;
    font-size: 1.4rem;
    background-position: center center;
    background-size: cover;
  }

  &__content {
    padding: 3rem;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      text-align: justify;
    }

    .release__date {
      padding-top: 15px;
    }
  }

  &__title {
    padding: 20px 0;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    color: #fff;
    cursor: pointer;
  }

  @media screen and (min-width: 768px) {
    width: 50%;
    left: 25%;
    right: 25%;
  }
}

.popup__video {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

@media screen and (max-width : 767.98px) {
  iframe {
    width: fit-content;
    color: red;
  }
}

body.popup-open .popup__video {
  display: block;
}

body.quickView__open {
  overflow: hidden;
}